[Desktop Entry]
Version=1.0
Type=Application
Name=3D Slicer
Comment=
Exec=bash -ic '/media/volume/MyData/Slicer/Slicer'
Icon=/media/volume/MyData/Slicer/lib/Slicer-X.Y/qt-scripted-modules/Resources/SlicerWatermark.png
Path=
Terminal=false
StartupNotify=false