[Desktop Entry]
Version=1.0
Type=Application
Name=3D Slicer
Comment=
Exec=bash -ic 'SLICER_INSTALL_DIR/Slicer/Slicer'
Icon=SLICER_INSTALL_DIR/Slicer/Slicer.png
Path=
Terminal=false
StartupNotify=false
